.Rproj.user
.Rhistory
.RData
.Ruserdata
cv/PrixdetheseUGA.html
cv/PrixdetheseUGA.pdf
cv/PrixdetheseUGA.Rmd
cv/PrixdetheseUGA_files/kePrint-0.0.1/kePrint.js
cv/PrixdetheseUGA_files/lightable-0.0.1/lightable.css
cv/PrixdetheseUGA_files/paged-0.20/js/config.js
cv/PrixdetheseUGA_files/paged-0.20/js/hooks.js
cv/PrixdetheseUGA_files/paged-0.20/js/paged.js
