/* Extra CSS */
.blue {
  color: #6490d3;
}
.green {
  color: #0fd261;
}
.red {
  color:  #e74c3c;
}
.small {
  font-size: 80%;
  font-weight: bold;
}
.large {
  font-size: 200%;
  font-weight: bold;
}
.full-width {
  display: flex;
  width: 100%;
  flex: 1 1 auto;
}
.highlight {
  color: #64b9d3;
  background: black;
  font-weight: bold;
  border-radius: 5px;
}